glut.h
Debug/vc141.pdb
Debug/vc141.idb
Debug/opengl_model.tlog/link.command.1.tlog
Debug/opengl_model.tlog/CL.write.1.tlog
Debug/opengl_model.tlog/CL.read.1.tlog
Debug/opengl_model.tlog/CL.command.1.tlog
Debug/opengl_model.pdb
Debug/opengl_model.log
Debug/opengl_model.ilk
Debug/opengl_model.exe
Debug/main.obj
.vs/opengl_model/v15/ipch/AutoPCH/d820434768a5d968/MAIN.ipch
.vs/opengl_model/v15/Browse.VC.db
.vs/opengl_model/v15/.suo
opengl_model.vcxproj.filters
opengl_model.vcxproj
opengl_model.sln
glut32.lib
glut32.dll
Debug/opengl_model.tlog/link.read.1.tlog
Debug/opengl_model.tlog/link.write.1.tlog
Debug/opengl_model.tlog/opengl_model.lastbuildstate
.vs/opengl_model/v15/Browse.VC.opendb
glm/
Debug/opengl_model.tlog/unsuccessfulbuild
*.obj
*.ipch
*.log
